@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-ExtraBlack.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("./assets/fonts/Dana/woff2/DanaFaNum-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-dana: "Dana", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);

  --color-border: var(--border);

  --color-muted: var(--muted);

  --container-8xl: 1440px;
}

:root {
  --background: #ffffff;
  --foreground: #535362;

  --primary: #a62626;

  --border: #e4e4e7;

  --muted: #ffffffd1;
}

.dark {
  --background: #18181b;
  --foreground: #a1a1aa;

  --primary: #d83939;

  --border: #52525b;

  --muted: #ffffffce;
}

body {
  @apply font-dana bg-background text-foreground;
}

@utility container {
  @apply max-w-6xl px-2 sm:px-4 md:px-8 mx-auto;
}